<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sandgate Storm Swimming Club</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div id="widther">
        <div id="header">
            <div id="title" style="float:left;">
                <a href="http://www.sandswim.com.au"></a><img src="images/sssc-logo.png" alt="Club logo" style="width:150px" /></a>
            </div>
            <div style="float:right;">
                <a href="/">Home</a> |
                <a href="/fees">Fees</a> |
                <a href="/meets">Swim Meets</a> |
                <a href="/results">Reports, Results &amp; Records</a> |
                <a href="/clubnights">Club Nights</a> |
                <a href="/championships">Club Championships</a> |
                <a href="/about">About</a> |
                <a href="/contact">Contact Us</a>             
            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="container-content">
            {{ content }}
        </div>
        <footer>
            <p>
                <em>&copy; Sandgate & District Aquatics Inc.</em>, also known as Sandgate Storm Swimming Club, 2020
            </p>
        </footer>
    </div>
</body>
</html>